// color
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$text-color-primary: hsl(238, 29%, 16%);
$text-color-red: hsl(14, 88%, 65%);
$text-color-dark: hsl(237, 12%, 33%);
$text-color-gray: hsl(240, 6%, 50%);
$divider: hsl(240, 5%, 91%);

// typography
$font-kumbh: 'Kumbh Sans', sans-serif;

// breakpoints
$phone-bp: 576px;
$tablet-bp: 768px;
$desktop-bp: 992px;
$lg-desktop-bp: 1200px;
