.footer {
  width: 100%;
  background-color: #90D4C5;

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
  }

  &__logo {
    width: 100%;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    background-color: $dark-desaturated-cyan;
    -webkit-mask: url('../images/logo.svg') no-repeat center;
    mask: url('../images/logo.svg') no-repeat center;
  }

  &__links, &__socials {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__link {
    text-decoration: none;
    padding: 0 1.2rem;
    color: $dark-moderate-cyan;
    transition: all .3s ease;
    &:hover {
      color: $white;
    }
  }

  &__social {
    i {
      margin: 0 .6rem;
      font-size: 1.3rem;
      color: $dark-moderate-cyan;
      &:hover {
        color: $white;
      }
    }
  }
}